// header {
//   height: 70px;
//   display: flex;
//   justify-content: space-between;
// }
header .container {
  padding: 12px 8px 0;
}

.logo {
  margin-left: 20px;
  // font-size: 32px;
  // line-height: calc(42 / 32);
}
// .part1 {
//   color: var(--accent-color);
// }
// .part2 {
//   color: var(--text-color-dark-bg);
// }
// .nav {
//   font-size: 16px;
//   line-height: calc(26 / 16);
//   color: var(--text-color-dark-bg);
// }

// .nav {
//   margin-top: 12px;
// display: block;
// justify-content: right;
// margin-left: 73px;
// width: 300px;
// }

// .nav li:not(:first-child) {
// margin-left: 20px;
// }
.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}
