.wrapper {
  // display: flex;
  width: 1360px;
  // margin: 0 auto;
}
// .bespoke {
//   background-color: var(--accent-color);
//   color: var(--text-color-dark-bg);
// }
.bespoke .container {
  //   text-align: start;
  width: 690px;
  padding: 0 53px 0 32px;
}

.bespoke .title {
  padding-right: 0;
}

// .bespoke h3 {
//   margin-bottom: 8px;
// }

// .bespoke .btn {
//   border: 1px solid var(--text-color-dark-bg);
// }
