header .container {
  padding: 0 22px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  margin-left: 10px;
}

.nav {
  margin-top: 0;

  font-size: 18px;
  line-height: calc(28 / 18);
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}
