.wrapper {
  display: flex;
  width: 768px;
  margin: 0 auto;
}
// .bespoke {
//   background-color: var(--accent-color);
//   color: var(--text-color-dark-bg);
// }
.bespoke .container {
  //   text-align: start;
  width: 400px;
  padding: 0 53px 0 32px;
}

.bespoke .title {
  padding-right: 110px;
}

// .bespoke h3 {
//   margin-bottom: 8px;
// }

// .bespoke .btn {
//   border: 1px solid var(--text-color-dark-bg);
// }
