.callback-wrapper {
  width: 768px;
  display: flex;
  margin: 0 auto;
  padding-bottom: 40px;
}

.callback .container {
  width: 400px;
  padding: 0 32px;
}

.callback-list {
  margin-top: 32px;
}

.callback input {
  font-size: 18px;
  line-height: calc(23 / 18);
}

.callback .btn {
  font-size: 18px;
  line-height: calc(25 / 18);
}
