header {
  position: fixed;
  width: 100%;

  transition: transform 500ms linear;
}

header .container {
  height: 120px;
  padding: 20px 22px 0;

  transition: opacity 500ms linear;
} // background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));

.isVeiled {
  // background-color: #555;
  // opacity: 0.;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
} // transform: translateY(-120);  // opacity: 0.1;

.logo {
  display: flex;
  align-items: center;

  transition: transform 250ms;
}

.logo:hover {
  transform: scale(1.1);
}

.logo-text {
  padding-left: 6px;

  font-size: 32px;
  line-height: calc(42 / 32);
}
.part1 {
  color: var(--accent-color);
}
.part2 {
  color: var(--text-color-dark-bg);
}
.nav {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;

  font-size: 16px;
  line-height: calc(26 / 16);
  color: var(--text-color-dark-bg);
}

.nav-item:hover {
  border-bottom: 2px solid var(--accent-color);
}
