.hero {
  padding: 0;
}

.hero .container {
  height: 533px;
  padding-top: 142px;

  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: var(--mask), url(../images/home/hero/m/showcase@2x.jpg);
  }
  background-image: var(--mask), url(../images/home/hero/m/showcase.jpg);
} // -webkit-image-set(url(../images/home/hero/m/showcase.jpg) 1x);

.hero-title {
  font-size: 52px;
  line-height: calc(66 / 52);
  color: var(--secondary-text-color-dark-bg);
}

.hero-tagline {
  margin: 20px 0 24px;
  font-size: 22px;
  line-height: calc(37 / 22);
  color: var(--secondary-text-color-dark-bg);
}

.sign-more {
  display: none;
  margin-right: 5px;
}

.hero .btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.hero .btn:hover {
  opacity: var(--btn-hover-opacity);
}
