.callback {
  background-color: var(--callback-bg);
}
.callback .container {
  padding: 0 20px;
  text-align: start;
}

.callback-list {
  margin: 41px 0 47px;
}

.callback input {
  width: 100%;
  font-size: 16px;
  line-height: calc(23 / 16);
  padding: 8px 0 8px 8px;
  border: none;
}

.callback-name{
  margin-bottom: 32px;
}

.callback .btn{
  width: 100%;
  line-height: calc(22/16);
}
