html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  user-select: none;
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 255, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: green;
  outline: 1px solid #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

section {
  padding: 40px 0;
}

.pic-container {
  width: 320px;
  margin: 0 auto;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 32px;
  text-align: center;
}

.overtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
}

.title {
  font-weight: 300;
  font-size: 38px;
  line-height: calc(48 / 38);
}

.text {
  margin: 24px 0;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: -0.006em;
}
