<header class="header">
  <div class="container isVeiled" id="header">
    <div class="logo">
      <svg width="40" height="35">
        <use href="./images/sprite.svg#logo"></use>
      </svg>

      <p class="logo-text">
        <span class="part1">Finance</span><span class="part2">Ledger</span>
      </p>
    </div>

    <nav>
      <ul class="nav list">
        <!-- <li class="nav-item" onclick="home.scrollIntoView({behavior:'smooth'})"> -->
        <li class="nav-item"><a class="nav-link link" href="#home"> Home </a></li>
        <li
          class="nav-item"
          onclick="about.scrollIntoView({behavior:'smooth'})"
        >
          <span class="nav-link"> About </span>
        </li>
        <li
          class="nav-item"
          onclick="cases.scrollIntoView({behavior:'smooth'})"
        >
          <span class="nav-link"> Cases </span>
        </li>
        <li class="nav-item" onclick="blog.scrollIntoView({behavior:'smooth'})">
          <span class="nav-link"> Blog </span>
        </li>
        <li
          class="nav-item"
          onclick="contact.scrollIntoView({behavior:'smooth'})"
        >
          <span class="nav-link"> Contact </span>
        </li>
      </ul>
    </nav>
  </div>
</header>
