<div class="wrapper">
  <div class="pic-container">
    <picture>
      <source
        media="(min-width: 1360px)"
        type="image/webp"
        srcset="
          ./images/webp/home/dt/people.webp    1x,
          ./images/webp/home/dt/people@2x.webp 2x
        "
      />

      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="
          ./images/webp/home/t/people.webp    1x,
          ./images/webp/home/t/people@2x.webp 2x
        "
      />

      <source
        media="(min-width: 320px)"
        type="image/webp"
        srcset="
          ./images/webp/home/m/people.webp    1x,
          ./images/webp/home/m/people@2x.webp 2x
        "
      />

      <source
        media="(min-width: 1360px)"
        srcset="
          ./images/home/dt/people.jpg    1x,
          ./images/home/dt/people@2x.jpg 2x
        "
      />

      <source
        media="(min-width: 768px)"
        srcset="./images/home/t/people.jpg 1x, ./images/home/t/people@2x.jpg 2x"
      />

      <source
        media="(min-width: 320px)"
        srcset="./images/home/m/people.jpg 1x, ./images/home/m/people@2x.jpg 2x"
      />

      <img src="./images/home/m/people.jpg" alt="people" />
    </picture>
  </div>
  <section class="bespoke" id="about">
    <div class="container">
      <h3 class="overtitle">What you are looking for</h3>
      <h2 class="title">We provide bespoke solutions</h2>
      <p class="text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="btn" type="button">Read More</button>
    </div>
  </section>
</div>
