<section class="cases">
  <div class="container">
    <h3 class="overtitle">This is what we do</h3>
    <h2 class="title">Business Cases</h2>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases-gallery list">
      <li class="cases-gallery-item">
        <a href="#"><img src="./images/cases/m/cases1.jpg" alt="at the work" /></a>
      </li>

      <li class="cases-gallery-item">
        <a href="#"><img src="./images/cases/m/cases2.jpg" alt="diagram" /></a>
      </li>

      <li class="cases-gallery-item">
        <a href="#"><img src="./images/cases/m/cases3.jpg" alt="pakt" /></a>
      </li>

      <li class="cases-gallery-item">
        <a href="#"><img src="./images/cases/m/cases4.jpg" alt="union" /></a>
      </li>

      <li class="cases-gallery-item">
        <a href="#"><img src="./images/cases/m/cases5.jpg" alt="workspace" /></a>
      </li>

      <li class="cases-gallery-item">
        <a href="#"><img src="./images/cases/m/cases6.jpg" alt="sky" /></a>
      </li>
    </ul>
  </div>
</section>
