<section class="cases">
  <div class="container">
    <h3 class="overtitle">This is what we do</h3>
    <h2 class="title">Business Cases</h2>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="cases-gallery list">
      <li class="cases-gallery-item">
        <a href="#">
          <picture>
            <source
              media="(min-width: 768px) and (max-width: 1359px)"
              srcset="
                ./images/cases/t/cases1.jpg    1x,
                ./images/cases/t/cases1@2x.jpg 2x
              "
            />
            <img src="./images/cases/m/cases1.jpg" alt="at the work" />
          </picture>
        </a>
      </li>

      <li class="cases-gallery-item">
        <a href="#"
          ><picture>
            <source
              media="(min-width: 768px) and (max-width: 1359px)"
              srcset="
                ./images/cases/t/cases2.jpg    1x,
                ./images/cases/t/cases2@2x.jpg 2x
              " />
            <img src="./images/cases/m/cases2.jpg" alt="diagram" /></picture
        ></a>
      </li>

      <li class="cases-gallery-item">
        <a href="#"
          ><picture>
            <source
              media="(min-width: 768px) and (max-width: 1359px)"
              srcset="
                ./images/cases/t/cases3.jpg    1x,
                ./images/cases/t/cases3@2x.jpg 2x
              " />
            <img src="./images/cases/m/cases3.jpg" alt="pakt" /></picture
        ></a>
      </li>

      <li class="cases-gallery-item">
        <a href="#"
          ><picture>
            <source
              media="(min-width: 768px) and (max-width: 1359px)"
              srcset="
                ./images/cases/t/cases4.jpg    1x,
                ./images/cases/t/cases4@2x.jpg 2x
              " />
            <img src="./images/cases/m/cases4.jpg" alt="union" /></picture
        ></a>
      </li>

      <li class="cases-gallery-item">
        <a href="#"
          ><picture>
            <source
              media="(min-width: 768px) and (max-width: 1359px)"
              srcset="
                ./images/cases/t/cases5.jpg    1x,
                ./images/cases/t/cases5@2x.jpg 2x
              " />
            <img src="./images/cases/m/cases5.jpg" alt="workspace" /></picture
        ></a>
      </li>

      <li class="cases-gallery-item">
        <a href="#"
          ><picture>
            <source
              media="(min-width: 768px) and (max-width: 1359px)"
              srcset="
                ./images/cases/t/cases6.jpg    1x,
                ./images/cases/t/cases6@2x.jpg 2x
              " />
            <img src="./images/cases/m/cases6.jpg" alt="sky" /></picture
        ></a>
      </li>
    </ul>
    
  </div>
</section>
