<div class="blog-wrapper">
  <div class="pic-container">
    <picture>
      <source
        media="(min-width: 1360px)"
        type="image/webp"
        srcset="
          ./images/webp/home/dt/blog.webp    1x,
          ./images/webp/home/dt/blog@2x.webp 2x
        "
      />

      <source
        media="(min-width: 768px)"
        type="image/webp"
        srcset="
          ./images/webp/home/t/blog.webp    1x,
          ./images/webp/home/t/blog@2x.webp 2x
        "
      />

      <source
        media="(min-width: 320px)"
        type="image/webp"
        srcset="
          ./images/webp/home/m/blog.webp    1x,
          ./images/webp/home/m/blog@2x.webp 2x
        "
      />


      <source
        media="(min-width: 1360px)"
        srcset="./images/home/dt/blog.jpg 1x, ./images/home/dt/blog@2x.jpg 2x"
      />

      <source
        media="(min-width: 768px)"
        srcset="./images/home/t/blog.jpg 1x, ./images/home/t/blog@2x.jpg 2x"
      />
      
      <source
        media="(min-width: 320px)"
        srcset="./images/home/m/blog.jpg 1x, ./images/home/m/blog@2x.jpg 2x"
      />

      <img src="./images/home/m/blog.jpg" alt="blog" />
    </picture>
  </div>
  <section class="blog" id="blog">
    <div class="container">
      <h3 class="overtitle">April 16 2020</h3>
      <h2 class="title">Blog Post One</h2>
      <p class="text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="btn" type="button">Read Our Blog</button>
    </div>
  </section>
</div>
