<section class="team">
  <div class="container">
    <h3 class="overtitle">Who we are</h3>
    <h2 class="title">Our Professional Team</h2>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="team-list list">
      <li class="team-item">
        <div class="thumb">
          <picture>
            <source
              media="(min-width: 1360px)"
              type="image/webp"
              srcset="
                ./images/webp/team/dt/person1.webp    1x,
                ./images/webp/team/dt/person1@2x.webp 2x
              "
            />

            <source
              media="(min-width: 768px)"
              type="image/webp"
              srcset="
                ./images/webp/team/t/person1.webp    1x,
                ./images/webp/team/t/person1@2x.webp 2x
              "
            />

            <source
              media="(min-width: 320px)"
              type="image/webp"
              srcset="
                ./images/webp/team/m/person1.webp    1x,
                ./images/webp/team/m/person1@2x.webp 2x
              "
            />

            <source
              media="(min-width: 1360px)"
              srcset="
                ./images/team/dt/person1.jpg    1x,
                ./images/team/dt/person1@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/t/person1.jpg    1x,
                ./images/team/t/person1@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/team/m/person1.jpg    1x,
                ./images/team/m/person1@2x.jpg 2x
              "
            />

            <img src="./images/team/m/person1.jpg" alt="person1" />
          </picture>
          <div class="slide">
            <ul class="social-list list">
              <li>
                <a
                  class="link"
                  href="https://www.facebook.com/"
                  rel="noopener"
                  target="_blank"
                >
                  <svg width="35" height="35">
                    <use href="./images/sprite.svg#fb"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="link"
                  href="https://twitter.com/"
                  rel="noopener"
                  target="_blank"
                >
                  <svg width="35" height="30">
                    <use href="./images/sprite.svg#tweet"></use></svg
                ></a>
              </li>
              <li>
                <a
                  class="link"
                  href=" https://www.youtube.com/"
                  rel="noopener"
                  target="_blank"
                >
                  <svg width="38" height="27">
                    <use href="./images/sprite.svg#utube"></use></svg
                ></a>
              </li>
              <li>
                <a
                  class="link"
                  href="https://www.linkedin.com/"
                  rel="noopener"
                  target="_blank"
                >
                  <svg width="31" height="31">
                    <use href="./images/sprite.svg#link"></use></svg
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <h4 class="name">John Doe</h4>
        <p class="position">President</p>
      </li>

      <li class="team-item">
        <div class="thumb">
          <picture>
            <source
              media="(min-width: 1360px)"
              type="image/webp"
              srcset="
                ./images/webp/team/dt/person2.webp    1x,
                ./images/webp/team/dt/person2@2x.webp 2x
              "
            />

            <source
              media="(min-width: 768px)"
              type="image/webp"
              srcset="
                ./images/webp/team/t/person2.webp    1x,
                ./images/webp/team/t/person2@2x.webp 2x
              "
            />

            <source
              media="(min-width: 320px)"
              type="image/webp"
              srcset="
                ./images/webp/team/m/person2.webp    1x,
                ./images/webp/team/m/person2@2x.webp 2x
              "
            />

            <source
              media="(min-width: 1360px)"
              srcset="
                ./images/team/dt/person2.jpg    1x,
                ./images/team/dt/person2@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/t/person2.jpg    1x,
                ./images/team/t/person2@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/team/m/person2.jpg    1x,
                ./images/team/m/person2@2x.jpg 2x
              "
            />
            <img src="./images/team/m/person2.jpg" alt="person2" />
          </picture>
          <div class="slide">
            <ul class="social-list list">
              <li>
                <a
                  class="link"
                  href="https://www.facebook.com/"
                  rel="noopener"
                  target="_blank"
                >
                  <svg width="35" height="35">
                    <use href="./images/sprite.svg#fb"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="link"
                  href="https://twitter.com/"
                  rel="noopener"
                  target="_blank"
                >
                  <svg width="35" height="30">
                    <use href="./images/sprite.svg#tweet"></use></svg
                ></a>
              </li>
              <li>
                <a
                  class="link"
                  href=" https://www.youtube.com/"
                  rel="noopener"
                  target="_blank"
                >
                  <svg width="38" height="27">
                    <use href="./images/sprite.svg#utube"></use></svg
                ></a>
              </li>
              <li>
                <a
                  class="link"
                  href="https://www.linkedin.com/"
                  rel="noopener"
                  target="_blank"
                >
                  <svg width="31" height="31">
                    <use href="./images/sprite.svg#link"></use></svg
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <h4 class="name">Jane Doe</h4>
        <p class="position">Vice President</p>
      </li>

      <li class="team-item">
        <div class="thumb">
          <picture>
            <source
              media="(min-width: 1360px)"
              type="image/webp"
              srcset="
                ./images/webp/team/dt/person3.webp    1x,
                ./images/webp/team/dt/person3@2x.webp 2x
              "
            />

            <source
              media="(min-width: 768px)"
              type="image/webp"
              srcset="
                ./images/webp/team/t/person3.webp    1x,
                ./images/webp/team/t/person3@2x.webp 2x
              "
            />

            <source
              media="(min-width: 320px)"
              type="image/webp"
              srcset="
                ./images/webp/team/m/person3.webp    1x,
                ./images/webp/team/m/person3@2x.webp 2x
              "
            />

            <source
              media="(min-width: 1360px)"
              srcset="
                ./images/team/dt/person3.jpg    1x,
                ./images/team/dt/person3@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/team/t/person3.jpg    1x,
                ./images/team/t/person3@2x.jpg 2x
              "
            />

            <source
              media="(min-width: 320px)"
              srcset="
                ./images/team/m/person3.jpg    1x,
                ./images/team/m/person3@2x.jpg 2x
              "
            />

            <img src="./images/team/m/person3.jpg" alt="person3" />
          </picture>
          <div class="slide">
            <ul class="social-list list">
              <li>
                <a
                  class="link"
                  href="https://www.facebook.com/"
                  rel="noopener"
                  target="_blank"
                >
                  <svg width="35" height="35">
                    <use href="./images/sprite.svg#fb"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  class="link"
                  href="https://twitter.com/"
                  rel="noopener"
                  target="_blank"
                >
                  <svg width="35" height="30">
                    <use href="./images/sprite.svg#tweet"></use></svg
                ></a>
              </li>
              <li>
                <a
                  class="link"
                  href=" https://www.youtube.com/"
                  rel="noopener"
                  target="_blank"
                >
                  <svg width="38" height="27">
                    <use href="./images/sprite.svg#utube"></use></svg
                ></a>
              </li>
              <li>
                <a
                  class="link"
                  href="https://www.linkedin.com/"
                  rel="noopener"
                  target="_blank"
                >
                  <svg width="31" height="31">
                    <use href="./images/sprite.svg#link"></use></svg
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <h4 class="name">Steve Smith</h4>
        <p class="position">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
