<section class="team">
  <div class="container">
    <h3 class="overtitle">Who we are</h3>
    <h2 class="title">Our Professional Team</h2>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list list">
      <li class="team-item">
        <picture>
          <source
            media="(min-width: 768px) and (max-width: 1359px)"
            srcset="
              ./images/team/t/person1.jpg    1x,
              ./images/team/t/person1@2x.jpg 2x
            "
          />
          <img src="./images/team/m/person1.jpg" alt="person1" />
        </picture>
        <h4 class="name">John Doe</h4>
        <p class="position">President</p>
      </li>
      <li class="team-item">
        <picture>
          <source
            media="(min-width: 768px) and (max-width: 1359px)"
            srcset="
              ./images/team/t/person2.jpg    1x,
              ./images/team/t/person2@2x.jpg 2x
            "
          />
          <img src="./images/team/m/person2.jpg" alt="person2" />
        </picture>
        <h4 class="name">Jane Doe</h4>
        <p class="position">Vice President</p>
      </li>
      <li class="team-item">
        <picture>
          <source
            media="(min-width: 768px) and (max-width: 1359px)"
            srcset="
              ./images/team/t/person3.jpg    1x,
              ./images/team/t/person3@2x.jpg 2x
            "
          />
          <img src="./images/team/m/person3.jpg" alt="person3" />
        </picture>
        <h4 class="name">Steve Smith</h4>
        <p class="position">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
