<section class="team">
  <div class="container">
    <h3 class="overtitle">Who we are</h3>
    <h2 class="title">Our Professional Team</h2>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list list">
      <li class="team-item">
        <img src="./images/team/m/person1.jpg" alt="person1" />
        <h4 class="name">John Doe</h4>
        <p class="position">President</p>
      </li>
      <li class="team-item">
        <img src="./images/team/m/person2.jpg" alt="person2" />
        <h4 class="name">Jane Doe</h4>
        <p class="position">Vice President</p>
      </li>
      <li class="team-item">
        <img src="./images/team/m/person3.jpg" alt="person3" />
        <h4 class="name">Steve Smith</h4>
        <p class="position">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
