<div class="callback-wrapper">
  <picture>
    <source
      media="(min-width: 768px) and (max-width: 1359px)"
      srcset="./images/home/t/contact.jpg 1x, ./images/home/t/contact@2x.jpg 2x"
    />
    <img src="./images/home/m/contact.jpg" alt="contact us" />
  </picture>

  <section class="callback">
    <div class="container">
      <h2 class="title">Request Callback</h2>
      <form class="callback-form">
        <ul class="callback-list list">
          <li class="callback-item">
            <input
              type="text"
              class="callback-name"
              name="name"
              placeholder="Enter your name"
            />
          </li>
          <li class="callback-item">
            <input
              type="email"
              class="callback-email"
              name="email"
              placeholder="Enter email*"
            />
          </li>
        </ul>
        <button class="btn" type="submit">Send</button>
      </form>
    </div>
  </section>
</div>
