<section class="callback">
  <div class="container">
    <h2 class="title">Request Callback</h2>
    <form class="callback-form">
      <ul class="callback-list list">
        <li class="callback-item">
          <input
            type="text"
            class="callback-name"
            name="name"
            placeholder="Enter your name"
          />
        </li>
        <li class="callback-item">
          <input
            type="email"
            class="callback-email"
            name="email"
            placeholder="Enter email*"
          />
        </li>
      </ul>
      <button class="btn" type="submit">Send</button>
    </form>
  </div>
</section>
